.showUserAdmin {
    box-shadow: 0px 0px 30px 0px #b22830;
    border-radius: 4px;
    padding: 30px;
    float: right;
    width: 78%;
    margin-top: 5%;
    margin-right: 1%;
    margin-bottom: 5%; 
}
.showUserAdmin th {
    text-align: center;
}
.showUserAdmin table {
    text-align: center; 
    width: 100%;
}
.showUserAdmin tbody {
    text-align: center;
}
.showUserAdmin tbody {
    text-align: center;
}
.showUserAdmin tbody tr td img {
    width: 100px;
    height: 100px;
}
