.ncf-header {
    margin: 0px;
    padding: 0px;
    background-color: #b22830;
}

.language a i {
    font-size: 36px;
    color: white;
}

.menuxt {
    display: none;
}

#menu-bar {
    display: none;
}

.headerTool {
    float: right;
    display: inline-block;  
    align-items: center;
    margin-top: 30px;
    margin-right: 150px;
}

.logo {
    margin-left: 100px;
    display: inline-block;
    max-width: 100px;
}

.input {
    display: inline;
    padding-left: 10px;
    padding-right: 30px;
    width: 200px;
    height: 30px; 
    padding-top: 5px;

}

.menuxt .fa-angle-down {
    display: none;
}

.fa-search {
    position: absolute;
    /* z-index: 1; */
    margin: 9px 0px 0px -25px;
}

.rowTool {
    margin: 0px;
    padding: 0px;   
}

.search {
    float: left;
    position: relative;
    /* z-index: 9; */
}

.language {
    float: right;
    padding: 3px;
}

.language ul {
    margin: 0;
    padding-left: 10px;
}

.language li{
    display: inline;
    list-style: none;
}

.menuTool li {
    display: inline;
    margin-top: 10px;

}

.menuTool ul {
margin: -5px;
font-weight: 600;
font-size: 20px;
}

.menuTool a {
    cursor: pointer;
    color: #ffffff;
    font-size: px;
    padding: 10px 17px 10px 17px;
    text-decoration: none;
}

.menuTool {
    text-align: center;
    padding: 15px;
}

.menuList:hover {
    background-color: #53382C;
    transition: all 0.3s linear;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: inline;
}

.col3 {
    float: right;
    margin-right: 100px;
}

.menuHover {
    display: none;
    position: absolute;
    background-color: #53382C;
    z-index: 2;
    width: 100%;
    left: 0;
    animation: menuHover ease-in 0.2s;
}

.menuxt2 {
    display: none;
}

.btnX {
    padding: 8px;
    font-size: 170%;
    width: 50px;
    float: left;
    border: none;
    background-color: white;
    display: none;
}

.img {
    margin-top: 40px;
}

.tintuc {
    margin-left: 150px;
}

.scrollMenu {
    display: inline-block;
    width: 100%;
}

.grid li {
    display: inline-block;
    width: 102%;
}

@keyframes menuHover{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hover-li {
    float: left;
    margin: 0;
    width: 22%;
}

.hover-li-item {
    color: #f1bc7a !important;
}

.hover-li a {
    text-decoration: none;
    padding: 0;
}

.fa-shopping-cart {
    font-size: 30px;
    color: white;
}

.hover-li ul li {
    display: block !important;
}

.menuList {
    padding: 12px;

}
.menuList:hover .menuHover {
    display: flex;
    transition: all 0.3s linear;
}

.hover-li ul {
    padding: 0;
    display: block;
    text-align: center;
}

.bannerMenu {
    background-image: url('https://www.highlandscoffee.com.vn/skins/default/images/bgmenu.jpg');
    background-size: cover;
    height: 250px;
    width: 190px;
    margin-bottom: 19px;
}

.slider {
    position: absolute;
}

.hover-li {
    width: 17%;
}

li.hover-li{
    margin: 0;
    text-align: center;
    width: 16.5%;
}
.row {
    display: block;
    margin: 10px;
  }
  .row::before {
    clear: both;
    content: "";
    display: table;
  }
  .row::after {
    clear: both;
    content: "";
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 0 2px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px)
   {
    .col-lg-1 { width: 8.33333333%; }
    .col-lg-2 { width: 16.6666667%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.3333333%; }
    .col-lg-5 { width: 41.6666667%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.3333333%; }
    .col-lg-8 { width: 66.6666667%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.3333333%; }
    .col-lg-11 { width: 91.6666667%; }
    .col-lg-12 { width: 100%; }
  }
  
  /* For desktop: */
   @media (min-width: 1024px) {
    .col-md-1{ width: 8.33333333%; }
    .col-md-2{ width: 16.6666667%; }
    .col-md-3{ width: 25%; }
    .col-md-4{ width: 32.3333333%; }
    .col-md-5{ width: 41.6666667%; }
    .col-md-6{ width: 50%; }
    .col-md-7{ width: 58.3333333%; }
    .col-md-8{ width: 66.6666667%; }
    .col-md-9{ width: 75%; }
    .col-md-10{ width: 83.3333333%; }
    .col-md-11{ width: 91.6666667%; }
    .col-md-12{ width: 100%; }
  }
  
  /* For tablets: */
  @media (min-width: 600px) and (max-width: 767px) {
    .col-sm-1{ width: 8.33333333%; }
    .col-sm-2{ width: 16.6666667%; }
    .col-sm-3{ width: 25%; }
    .col-sm-4{ width: 33.3333333%; }
    .col-sm-5{ width: 41.6666667%; }
    .col-sm-6{ width: 50%; }
    .col-sm-7{ width: 58.3333333%; }
    .col-sm-8{ width: 66.6666667%; }
    .col-sm-9{ width: 75%; }
    .col-sm-10{ width: 83.3333333%; }
    .col-sm-11{ width: 91.6666667%; }
    .col-sm-12{ width: 100%; }
  }
  
  /* For mobile phones */
  @media (max-width: 599px) {
    .col-1 { width: 8.33333333%; }
    .col-2 { width: 16.6666667%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.3333333%; }
    .col-5 { width: 41.6666667%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.3333333%; }
    .col-8 { width: 66.6666667%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.3333333%; }
    .col-11 { width: 91.6666667%; }
    .col-12 { width: 100%; }
  }
  @media only screen and (max-width: 800px){
    #menu-bar {
        display: inline-block;
        margin-left: 10%;

    }

    .language li img {
        margin-top: -52%;
    }
    .language {
        float: right;
        padding: 2px;
        margin-top: -1%;
        display: inline-block;
    }
    .input {
        display: none;
    }
    .fa-search {
        display: none;
    }
    .language li {
        display: inline-block;
        list-style: none;
    }
    .headerTool {
        margin-right: 3%;
    }

    .menuTool {
        text-align: center;
        display: none;
        position: fixed;
        z-index: 1;
        right: 0;
        margin-top: -12%;
        background-color: #F5F5F5;
        text-align: left;
        width: 46%;
        padding-right: 22px;
        padding-left: 0;
        padding-bottom: 0;
        padding: 0 22px 0 0;
        overflow-x: hidden;
        transition: all 0.3s linear;
    }
    .menuTool li {
        display: block;
        /* margin-left: 17px; */
        width: 100%;
    }
    .menuList a {
        color: black;
    }
    .menuList {
        margin-left: -20%;
        padding-top: 8%;
        padding-bottom: 6%;
    }
    .menuTool ul {
        font-size: 13px;
        margin-right: 0;
        margin-left: 3%;
    }
    .hover-li-item {
        margin-right: 14%;
        padding: 15px;
        color: black!important;
    }
    .hover-li {
        padding-left: 16%!important;
        margin-left: -16%!important;
        padding-right: -17%!important;
        /* margin-right: 16%; */
        background-color: #dddddd;
        border-bottom: 1px white solid;
        width: 115.9%!important;
    }
    .hover-li-item:hover {
        color: rgb(177, 42, 45);
    }
    .m-cate:hover a{
        color: rgb(177, 42, 45);
    }
    .btnX {
        display: inline-block;
        margin-top: 0px;
        margin-left: -50px;
        position: fixed;    
    }
    .btnX:hover {
        background-color: #B22830;
        transition: all 0.3s linear;
        color: white;
    }
    /* div.menuTool {
        overflow: scroll;
        height: 50%;
    } */
    .scrollMenu {
        display: none;
    }
    .m-cate {
        padding: 10px 30px 10px 0px;
        text-align: left;
    }
    .menuList {
        border-bottom: 1px solid;
        margin-left: -20.3%;
        margin-top: -0.5%!important;
        width: 128.6%!important;
    }
    .menuList a:hover {
        color: white;
    }
    .menuList:hover {
        margin-left: -19%;
        background-color: rgb(177, 42, 45);
        animation-delay: 0.5s;
        transition: all 0.3s linear;
        width: 127.5%;
        margin-right: -2%;
        color: white;
    }
    .menuxt2-show {
        background-color: #bbbbbb;
    }
    /* .menuList:hover{
        color: white;
    } */
    /* .header-drop.active {
        background-color: #B22830 !important;
      } */
    .menuxt {
        float: right;
        display: block;
        margin-top: -3.5%;
    }
    .menuxt2 {
        display: block;
    }
    .menuxt2 {
        margin-left: 51%;
        float: right;
    }
    .menuxt2-show {
        margin-left: -67%;
    }
    .menuxt2-show li{
        text-align: left;
        padding-left: 15%;
    }
    /* .msub div.active .fa-angle-down , .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .msub div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    } */
    .carousel-indicators {
        margin-left: -86%;
    }
    .mmenu.active {
        display: block;
    }
    .menu div .fa-angle-down {
        display: none;
    }
    .mmenu div.active .fa-angle-down, .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .mmenu div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    }
    /* .m-cate div.active .fa-angle-down, .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .m-cate div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    } */
    .menuxt2 div.active .fa-angle-down, .header-drop.active .menuxt .fa-angle-down {
        display: inline-block;
    }
    .menuxt2 div.active .fa-angle-right ,.header-drop.active .menuxt .fa-angle-right {
        display: none;
    }
    .menuxt2 .fa-angle-down {
        display: none;
    }
    /* .m-cate.active {
        display: block;
    } */
    .menuxt2-show {
        display: none!important;
    }
    .menuxt2-show.active {
        display: block!important;
        margin-bottom: 2%;
        margin-left: -15%;
        margin-top: 3%;
        padding-top: 3%;
        padding-bottom: 6%;
    }
    .mmenu.active {
        display: inline-block;
    }
    .msub.active {
        display: block;
    }
    .menuHover {
        display: block;
        width: 111%;
        margin-left: -6%;
        margin-bottom: -5%;
        position: relative;
        background-color: #dddddd;
    }
    .bannerMenu {
        display: none;
    }
    .quanCf {
        padding-right: 62%!important;
        padding-top: 7%!important;
    }
    .thucdon {
        padding-right: 62%!important;
        padding-top: 7%!important;
    }
    .thucdon {
        padding-right: 62%!important;
        padding-top: 7%!important;
    }
    .lienhe {
        padding-right: 62%!important;
        padding-top: 7%!important;
    }
    .trachnhiem {
        padding-right: 32%!important;
        padding-top: 7%!important;
    }
    .chungtoi {
        padding-right: 52%!important;
        padding-top: 7%!important;
    }
}